**Question 1 : Assuming that we have some email addresses in the "username@companyname.com" format, write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.**

In [30]:
st=input("Enter Your Email ID : ")
a=st.split('@')
b=a[1].split('.')
print("Your company is : ",b[0])

Enter Your Email ID : divya@capgemini.com
Your company is :  capgemini

**Question 2: Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.**

In [29]:
st=input("Enter the data : ")
l=st.split(',')
l=sorted(l)
print("Data in sorted order : ",','.join(l))

Enter the data : hi,hello,world,best
Data in sorted order :  best,hello,hi,world

**Question 4 : Given a list of n-1 numbers ranging from 1 to n, find the missing number. There are no duplicates.**

In [28]:
data=[1,2,3,4,5,6,7,8,9,10,11,12,13,15,16]
total=sum(data)
n=len(data)
sum_n=(n+1)*(n+2)/2
print("Missing number is : ",sum_n-total)

Missing number is :  14.0

**Question 5 : With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.**

In [52]:
data=[23,25,45,62,23,76,45,56,23]
print("Original values : ",data)
new_data=[]
for i in data:
    if i not in new_data:
        new_data.append(i)
print("List with no duplicate values : ",str(new_data))

Original values :  [23, 25, 45, 62, 23, 76, 45, 56, 23]
List with no duplicate values :  [23, 25, 45, 62, 76, 56]